[Unit]
Description=Hometec systemd service.

[Service]
Type=forking
User=root
PIDFile=/var/run/hometec.pid
ExecStart=/usr/bin/hometec.start
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target