[Unit]
Description=Hometec systemd service.

[Service]
Type=forking
PIDFile=/var/run/hometec.pid
ExecStart=/bin/sh /usr/bin/hometec.sh
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target